<h1>Detail notification_type</h1>
<hr>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-toolbar">
			<%= link_to 'Volver', notification_types_path, :class => "btn btn-link" %>
			<%= link_to edit_notification_type_path(@notification_type), data: { tooltip: 'tooltip' }, class: "btn btn-default", title: "Edit" do %>
	          	<span class="glyphicon glyphicon-pencil"></span>
	        <% end %>
			<%= link_to @notification_type, method: :delete, data: { confirm: 'Are you sure?' }, data: { tooltip: 'tooltip' }, class: "btn btn-default", title: "Delete" do %>
	          	<span class="glyphicon glyphicon-trash"></span>
	        <% end %>
		</div>    
	</div>
	<div class="panel-body">
		
		<table class="table table-bordered">
			<tbody>
							<tr>
				  <th>Name:</th>
				  <td><%= @notification_type.name %></td>
				</tr>
							<tr>
				  <th>Template:</th>
				  <td><%= @notification_type.template %></td>
				</tr>
						</tbody>
		</table>

	</div>
</div>
