<h1>Listado de Ordenes de Trabajo</h1>
<hr>
<div class="panel panel-default">
  <div class="panel-heading panel-heading-toolbox">
    <div class="panel-title">
        Ordenes Asignadas
    </div>
    <div class="panel-toolbar">
      <%= link_to 'Volver', work_orders_path, :class => "btn btn-link" %>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-bordered table-striped">

      <thead>
        <tr>
          <th class="text-center" colspan=3>General</th>
          <th class="text-center" colspan=2>Solicitante</th>
          <th class="text-center" colspan=2>Solicitado</th>
          <th colspan=2></th>
        </tr>
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Descripción</th>

            <th>Usuario</th>
            <th>Organización</th>

            <th>Usuario</th>
            <th>Organización</th>

            <th>Aceptar</th>
            <th>Rechazar</th>
        </tr>
      </thead>

      <tbody>
        <% @assigned_work_orders.each do |work_order| %>
          <tr>
              <td rowspan=2><%= link_to work_order.code, work_order_path(work_order) %></td>
              <td><%= work_order.title %></td>
              <td><%= work_order.description %></td>
              <td>
                <% if work_order.user %>
                  <%= work_order.user.name %>
                <% end %>
              </td>
              <td>
                <% if work_order.organization %>
                  <%= work_order.organization.name %>
                <% end %>
              </td>

              <td>
                <% if work_order.user_assigned %>
                  <%= work_order.user_assigned.name %>
                <% end %>
              </td>
              <td>
                <% if work_order.organization_assigned %>
                  <%= work_order.organization_assigned.name %>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to work_order_accept_path(work_order), :class => "btn btn-success btn-sm" do %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to work_order_refuse_path(work_order), :class => "btn btn-danger btn-sm" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
          </tr>
          <tr>
            <th>Archivos adjuntos:</th>
            <td colspan=8><a href="#">CustomerFeedBackApr.pdf</a>, <a href="#"> CustomerFeedBackJan.pdf</a>, <a href="#">ProductList.xls</a></td>
          </tr>
          <tr><td colspan=10></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer panel-footer-toolbox">
    <div class="panel-toolbar">
      <%= will_paginate @assigned_work_orders,renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
